Repository TheRealKasumi/NikoLight, pull requests merged in 2022-12, with the labels that each got.

#49 feat (motion sensor) turn on/off via motion sensor
  mcu/include/configuration/Configuration.h
  mcu/include/configuration/SystemConfiguration.h
  mcu/include/sensor/LightSensor.h
  mcu/src/configuration/Configuration.cpp
  mcu/src/main.cpp
  mcu/src/sensor/LightSensor.cpp
  mcu/src/server/SystemConfigurationEndpoint.cpp
  pcb/with_headers/BOM_PCB_TesLight_2.1_Header.csv
  pcb/with_headers/Gerber_PCB_TesLight_2.1_Header.zip
  pcb/without_headers/BOM_PCB_TesLight_2.1.csv
  pcb/without_headers/Gerber_PCB_TesLight_2.1.zip
  web-app/src/model/SystemConfiguration.js
  web-app/src/page/SettingsPage.js
  web-app/src/service/SystemService.js
Labels: enhancement, frontend, mcu

#65 Documentation: several enhancements
  .gitignore
  documentation/build.md
  documentation/media/build/get_signal_of_footwell_lights_without_harm.jpg
  documentation/media/build/get_signal_of_footwell_lights_without_harm_2.jpg
  documentation/media/build/install_temperature_sensor.jpg
  documentation/part-list.md
  documentation/planning.md
Labels: documentation

#76 feat (api) api endpoint for ui settings
  documentation/api/OpenApi.yaml
  documentation/api/TesLight API.postman_collection.json
  mcu/.vscode/extensions.json
  mcu/include/TesLight.h
  mcu/include/configuration/Configuration.h
  mcu/include/configuration/SystemConfiguration.h
  mcu/include/server/UIConfigurationEndpoint.h
  mcu/src/TesLight.cpp
  mcu/src/configuration/Configuration.cpp
  mcu/src/server/LedConfigurationEndpoint.cpp
  mcu/src/server/MotionSensorEndpoint.cpp
  mcu/src/server/SystemConfigurationEndpoint.cpp
  mcu/src/server/UIConfigurationEndpoint.cpp
  mcu/src/server/WiFiConfigurationEndpoint.cpp
Labels: documentation, enhancement, mcu

#79 docs: update app screenshot
  documentation/media/readme/app.jpg
Labels: documentation

#82 fix(ui): invalid min and max ranges
  ui/src/pages/Settings.tsx
Labels: bug, frontend

#77 feat(ui): add multi language support
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/public/locales/de/translation.json
  ui/public/locales/en/translation.json
  ui/src/App.tsx
  ui/src/components/Error.tsx
  ui/src/components/Header.tsx
  ui/src/components/Notification.tsx
  ui/src/components/Toast.tsx
  ui/src/i18n.ts
  ui/src/i18next.d.ts
  ui/src/libs/formatter.ts
  ui/src/main.tsx
  ui/src/mocks/handlers.ts
  ui/src/pages/CustomAnimations.tsx
  ui/src/pages/Home.tsx
  ui/src/pages/LogFiles.tsx
  ui/src/pages/Settings.tsx
  ui/src/pages/Update.tsx
  ui/src/pages/Zone.tsx
  ui/src/pages/api/index.ts
  ui/src/pages/api/openapi.json
  ui/src/pages/api/ui.ts
  ui/src/react-router.d.ts
Labels: enhancement, frontend

#83 doc: planning: cable lengths
  documentation/planning.md
Labels: enhancement
